.search-title {
    color: #535c68;
    font-weight: 700;
    margin-bottom: 25px;
}
.search-field input {
    width: 300px;
    border-radius: 3px;
    outline: 0;
    border: 1px solid #34495e;
    margin-bottom: 25px;
}
.btn-search {
    border: 0;
    outline: 0;
    text-align: center;
    background-color: #f39c12;
    color: #fff;
    width: 100px;
    height: 45px;
    font-size: 1.1em;
    font-weight: 600;
    transition: 0.5s linear;
    text-transform: uppercase;
    border-radius: 5px;
}
.btn-search:hover {
    color: #f39c12;
    background-color: #fff;
    border: 1px solid #f39c12;
}
.card {
    margin: 10px;
    border: 1px solid gray;
    height: 350px;
    padding: 10px;
}